# Global ignores
.DS_Store
node_modules/
.env
.env.docker
*.log
package-lock.json

# ASP.NET
aspnet-api/bin/
aspnet-api/obj/
aspnet-api/.vs/
aspnet-api/*.user
aspnet-api/*.suo
aspnet-api/appsettings.json

# Node.js
node-api/node_modules/
node-api/dist/
node-api/.env
node-api/package-lock.json

# Results and scripts
# results/
scripts/*.log
*.pid
*.csv

# OS crap
Thumbs.db
ehthumbs.db

northwind.sql

sample-data/
docker/seed/output.sql

/aspnet-api/appsettings.json
/aspnet-api/appsettings.Development.json
/aspnet-api/appsettings.Docker.json

postgres.tar
rest-api-comparison-aspnet-api.tar
rest-api-comparison-node-api.tar
rest-api-comparison.tar

visuals/

node-asp-tmp/
aspnet-api/publish/
north-wind-backup copy

rest-api.zip